header.head {
  position: relative;
  background-color: #343a40;
  background: url("../images/header.png") no-repeat center center;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.h1-big h1 {
  font-size: 3.5rem;
  text-shadow: 3px 2px #343a40;
}

.navbar {
  padding: 0rem 1rem 0rem 0rem;
}

.nav-link{
  margin-left: 0.5rem;
}

.navbar-brand {
  padding-top: 0rem;
  padding-bottom: 0rem;
}

.navbar-brand > img {
  height: 50px
}

.logo-to-left {
  padding-left: 0rem;
}
/*
@media (min-width: 768px){
  .lr-margin {
    margin-left: 10%;
    margin-right: 10%;
  }
  .audfdsfo-width {
    width: auto;
  }
}
*/
body {
  background-color: #FFFFFF;
  color: #aaa;
}

.bg-primary {
  background-color: #3A3F44 !important;
}

.bg-dark {
  background-color: #272B30 !important;
}

.links-white a {
  color: #FFFFFF;
}

.links-normal a {
  color: #aaa;
}

.underline {
  text-decoration: underline;
}

.short-header {
  position: relative;
  background-color: #343a40;
  background: url("../images/header.png") no-repeat center center;
  height: 80px;
}


@media (min-width: 992px){
  .px-lg-6 {
    padding-left: 5rem !important;
    padding-right: 5rem !important;
  }
}
