#project {
  display: none;
}

header.head {
  position: relative;
  background-color: #343a40;
  background: url("https://image.ibb.co/iujaUn/header.png") no-repeat center center;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.h1-big h1 {
  font-size: 3.5rem;
  text-shadow: 3px 2px #343a40;
}

.navbar {
  padding: 0rem 1rem 0rem 0rem;
}

.nav-link{
  margin-left: 0.5rem;
}

.navbar-brand {
  padding-top: 0rem;
  padding-bottom: 0rem;
}

.navbar-brand > img {
  height: 50px
}

.logo-to-left {
  padding-left: 0rem;
}
/*
@media (min-width: 768px){
  .lr-margin {
    margin-left: 10%;
    margin-right: 10%;
  }
  .audfdsfo-width {
    width: auto;
  }
}
*/
body {
  background-color: #FFFFFF;
  color: #aaa;
}

.text-large {
  font-size: 40px;
}

.bg-primary {
  background-color: #3A3F44 !important;
}

.bg-dark {
  background-color: #272B30 !important;
}

.links-white a {
  color: #FFFFFF;
}

.links-normal a {
  color: #aaa;
}

.underline {
  text-decoration: underline;
}

.short-header {
  position: relative;
  background-color: #343a40;
  background: url("https://image.ibb.co/iujaUn/header.png") no-repeat center center;
  height: 80px;
}

.bottom-fractal {
  position: relative;
  background-color: #343a40;
  background: url("https://image.ibb.co/iujaUn/header.png") no-repeat center bottom;
  height: 30px;
}

.divide-fractal-1 {
  position: relative;
  background-color: #343a40;
  background: url("https://image.ibb.co/iujaUn/header.png") no-repeat center top;
  height: 30px;
}




.icons img {
  height: 100px;
  width: auto;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.img-thumbnail {
  padding: 0.125rem;
  background-color: #272B30;
  border: 1px solid #272B30;
  border-radius: 0.25rem;
  max-width: 100%;
  height: auto;
}

.leasymap {
  height: 300px;
}

.mapa {
  width: 100%;
  height: 100%;
}

@media (min-width: 992px){
  .px-lg-6 {
    padding-left: 5rem !important;
    padding-right: 5rem !important;
  }
  .pl-lg-6 {
    padding-left: 5rem !important;
  }
  .pr-lg-6 {
    padding-right: 5rem !important;
  }
}
